# This is for all environments

########################################
# DO NOT PUT SENSIBLE INFORMATION HERE #
#                                      #
# SENSIBLE INFO ONLY .LOCAL OR ON HOST #
########################################

NEXT_PUBLIC_WALLET_URL=https://wallet.axtp.com.br
NEXT_PUBLIC_SIGNUM_NODE_HOST=https://brazil.signum.network
NEXT_PUBLIC_MASTER_CONTRACT_ID=16178473761798608633
# pools to be available (comma separated)
NEXT_PUBLIC_AXTP_CONTRACT_IDS=7745418119635019382


NEXT_PUBLIC_JOTFORM_ID=223194868678677

# TODO: override once deployed
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=<secret>
NEXT_SERVER_AUTH0_CLIENT_ID=<id>
NEXT_SERVER_AUTH0_CLIENT_SECRET=<secret>
NEXT_SERVER_AUTH0_ISSUER=<issuer>
# PRIVATE
NEXT_SERVER_ACCEPTED_HOSTS=*


NEXT_SERVER_CMS_ACCESS_TOKEN=<token>
NEXT_SERVER_CMS_DELIVERY_HOST=https://cdn.contentful.com/spaces/<space_id>

# Stage
DATABASE_URL=<>
JOTFORM_API_KEY=

